name: lightningbot

services:
  backend:
    build: .
    container_name: lightning_backend
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - APP_ENV=development
    depends_on:
      - elasticsearch
      - redis
      - db
    networks:
      - ai_network
    extra_hosts:
      - "host.docker.internal:host-gateway"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.17.0
    container_name: lightning_es
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9201:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data
    networks:
      - ai_network

  redis:
    image: redis:7.2
    container_name: lightning_redis
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    networks:
      - ai_network

  db:
    image: mysql:8.0
    container_name: lightning_db
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "Root@12345"
      MYSQL_DATABASE: dev-fitss
    ports:
      - "3308:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init_db:/docker-entrypoint-initdb.d
    networks:
      - ai_network

  dashboard:
    build:
      context: .
      dockerfile: Dockerfile.dashboard
    container_name: lightning_dashboard
    ports:
      - "8501:8501"
    environment:
      - API_BASE_URL=http://lightning_backend:8000
    depends_on:
      - backend
    networks:
      - ai_network

volumes:
  es_data:
  redis_data:
  mysql_data:


networks:
  ai_network:
    driver: bridge
