name: lightningbot

services:
  backend:
    build: .
    container_name: lightning_backend
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - APP_ENV=development
    depends_on:
      - db
    networks:
      - ai_network
    extra_hosts:
      - "host.docker.internal:host-gateway"

  db:
    image: mysql:8.0
    container_name: lightning_db
    environment:
      MYSQL_ROOT_PASSWORD: Root@12345
      MYSQL_DATABASE: dev-fitss
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3308:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - ai_network
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.17.0
    container_name: lightning_es
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9201:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data
    networks:
      - ai_network

  redis:
    image: redis:7.2
    container_name: lightning_redis
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    networks:
      - ai_network

  dashboard:
    build:
      context: .
      dockerfile: Dockerfile.dashboard
    container_name: lightning_dashboard
    ports:
      - "8501:8501"
    environment:
      - API_BASE_URL=http://lightning_backend:8000
    depends_on:
      - backend
    networks:
      - ai_network

volumes:
  db_data:
  es_data:
  redis_data:

networks:
  ai_network:
    driver: bridge
