
fastapi>=0.110.0
uvicorn>=0.27.0
gunicorn>=21.2.0
pydantic>=2.0
pydantic-settings
sqlalchemy[asyncio]
aiomysql
langchain
langchain-core
langchain-community
langchain-groq
langchain-google-genai
langchain-google-genai
langchain-openai
openai>=1.55.0
langchain-huggingface
langgraph
httpx
sentence-transformers
python-jose[cryptography]
passlib[bcrypt]
python-multipart
elasticsearch==8.17.0
redis==5.0.1
